*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    background-image: linear-gradient(to bottom right, rgba(79,51,176,1),rgba(210,53,165));
}

